:root {
  --color-pink: rgb(243, 215, 219);
  --color-blue: rgb(196, 226, 236);
  --color-gray: rgb(165, 165, 165);
  --font-nanum: 'NanumSquare';
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-nanum);
}
button,
input {
  border: 0;
  outline: 0;
  cursor: pointer;
}

body {
  background-color: rgb(211, 211, 220);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#box {
  height: 90vh;
  aspect-ratio: 2 / 3;
  margin-top: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  background-color: var(--color-blue);
  padding: 0 23px;
  border-radius: 20px 20px 0 0;
  text-align: left;
  display: flex;
  font-weight: 800;
  justify-content: space-between;
  flex-grow: 2;
  height: 11vh;
}
header .logo-img {
  padding: 20px 0 0 10px;
  flex-basis: 20%;
}
header .logo-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 23px;
  margin: auto;
  align-items: center;
  flex-basis: 60%;
}
header .content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-basis: 20%;
}
.control-box {
  display: flex;
  height: 6vh;
}
.control-box button {
  background-color: transparent;
  margin: 0 5px;
  width: 30px;
}
.control-box i {
  font-size: 20px;
  transition: all 300ms ease-in;
}
.control-box button:hover i {
  font-size: 23px;
}
ul {
  height: 62vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  flex-grow: 5;
}
/* 스크롤바 디자인 */
ul::-webkit-scrollbar {
  width: 20px;
}
ul::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--color-pink);

  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

ul::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
}
#list {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted var(--color-blue);
  transition: all 300ms ease-in;
}
.check-btn,
.remove-btn {
  height: 100%;
  font-weight: 900;
  flex-basis: 17%;
}
.check-btn {
  background-color: var(--color-pink);
  color: black;
  font-size: 20px;
  font-weight: lighter;
  transition: all 300ms ease-in;
}
.remove-btn {
  background-color: transparent;
}
.remove-btn i {
  font-size: 20px;
  transition: all 300ms ease-in;
}
.remove-btn:hover > i {
  color: var(--color-gray);
  transform: scale(1.3);
}
.check-btn:hover {
  color: var(--color-gray);
  font-size: 27px;
}
#list .span-text {
  flex-basis: 66%;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  padding: 0 20px;
}
footer {
  width: 100%;
  font-weight: 800;
}
.input-text {
  height: 6vh;
  width: 100%;
  text-align: center;
  cursor: auto;
  font-size: 20px;
  font-weight: 600;
}
.input-text::placeholder {
  color: var(--color-blue);
}
.submit-box {
  height: 8vh;
  background-color: var(--color-pink);
  display: flex;
  justify-content: center;
  border-radius: 0 0 11px 11px;
}
.submit-box .submit-btn {
  height: 8vh;
  width: 8vh;
  background-color: var(--color-blue);
  font-size: 40px;
  font-weight: lighter;
  color: black;
  border-radius: 8vh;
  transition: all 300ms ease-in;
  margin: auto;
}

.checked {
  background-color: var(--color-pink);
}
.checked,
.checked * {
  color: var(--color-gray);
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 600px)*/
@media all and (min-width: 480px) and (max-width: 550px) {
  #box {
    width: 100%;
    margin: 0;
  }
  header {
    height: 14vh;
  }
  ul {
    height: 68vh;
  }
  footer {
    height: 18vh;
  }
  .check-btn,
  .remove-btn {
    width: 85px;
  }
  .input-text {
    height: 8vh;
  }
  .submit-box {
    height: 10vh;
  }
}
@media all and (max-width: 479px) {
  #box {
    width: 100%;
    margin: 0;
  }
  header {
    height: 14vh;
    padding: 0 17px;
  }
  ul {
    height: 68vh;
  }
  footer {
    height: 18vh;
  }
  .check-btn,
  .remove-btn {
    width: 85px;
  }
  .input-text {
    height: 8vh;
  }
  .submit-box {
    height: 10vh;
  }
}
@media (hover: hover) {
  .submit-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(69, 69, 69, 0.512);
  }
}
